nav{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    background-color: rgb(6, 65, 175);
    color: rgb(255, 255, 255);
    height: 40px;
    line-height: 50px;
    border-width: 0px 0px 1.5px 0px;
    border-style: inset;
    border-color: black;
}

h1, h2{
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 1%;
}

p{
    font-size: 12px;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    text-align: justify;
    padding: 2%;
    margin: 0;
}

a{
    margin: 10px;
    padding: 1%;
    color: white;
}

a:hover{
    color: rgb(108, 108, 255);
    text-decoration: none;
}
body{
    background-color: rgb(255, 255, 255);
    text-align: center;
}

label {
    text-align: left;
    width: 65px;
    font-size: 14px;
  }​

table, th, tr{
    margin-top: 100px;
    border: 1px solid black;
    font-family:'Courier New', Courier, monospace;
    font-weight: lighter;
    text-align: left;
    max-width: min-content;
    padding-left: 30px;
    padding-right: 30px;
}

input.form-control{
    max-width: 80%;
    margin-left: 2%;
    font-size: 14px;
    height: 25px;
}

input.form-control::placeholder{
    color: rgb(145, 145, 145);
}

.btn {
    background-color: rgb(255, 255, 255); /* Blue background */
    border: none; /* Remove borders */
    color: rgb(236, 11, 11); /* White text */
    padding: 0px 0px; /* Some padding */
    font-size: 14px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }
  
/* Darker background on mouse-over */
.btn:hover {
    color: rgb(255, 161, 161);
    }
#btn-submit{
    background-color: rgb(91, 91, 209);
    color: white;
    padding: 5px 20px;
    text-align-last: center;
    margin-top: 10px;
}
.fa-pencil-alt{
    color: blue;
}

.fa-pencil-alt:hover{
color: rgb(124, 124, 240);
}


@media (min-width: 500px){
    h1, h2 {
        font-size: 18px;
    }
    p{
        font-size: 16px;
    }
    nav{
        font-size: 20px;
        height: 50px;
    }
}

@media (min-width: 1050px){
    h1, h2 {
        font-size: 22px;
    }
    p{
        font-size: 18px;
        max-width: 80%;
    }
    nav{
        font-size: 30px;
        height: 80px;
        line-height: 100px;
    }
}


/*
Color de fondo o imagen; si usa una imagen, debe referenciarla desde internet a través de
una ruta absoluta.
- Fuente y color de texto especial para títulos
- Fuente y color de texto especial para párrafos
- El texto debe estar justificado
- Los estilos deben estar en un archivo aparte, y debe ser referenciado y compartido por todas
las páginas.*/